# OAuth stuff isn't relevant for testing.
# We have to set it, but it shouldn't be used.
# The fake login stuff lets us bypass github login for testing.
GITHUB_CLIENT_ID='none'
GITHUB_CLIENT_SECRET='none'
ROOT_URI='http://localhost:5000'
FAKE_AUTH={
  'token': None,
  'login': 'fakelogin'
}

# Secret key used by Flask for session storage.
SECRET_KEY='jklsdjklsdasdjkl'

# Enables automatic reloading, etc.
# DEBUG=True

#LOG_FILE='/tmp/bpr.log'
