body {
    padding: 17px;
}

div.wrap {
    margin: auto auto;
    max-width: 800px;
}

div#refresh-update-available {
    display: none;
}

/* commit_list.html */
form.commit-list {
    padding: 13px;
    border-radius: 3px;
    border: 1px solid #dadada;
    background: #edf4fa;
}

form.commit-list .inner-commit-list {
    margin-bottom: 13px;
}

form.commit-list .commit-compare {
    font-family: monospace;
}

form.commit-list input {
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
}

/* comment_templates.html */
div.inline-comment {
    white-space: normal;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: white;
    margin: 13px 0;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

.comment-header {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #777;
    background-color: #f7f7f7;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

div.inline-comment .user {
    font-weight: bold;
}

div.inline-comment .added-note-on {
}

div.inline-comment .comment-body {
    margin: 15px;
    line-height: 1.7;
    font-size: 14px;
}

div.inline-editable-comment {
    padding: 17px;
}

div.inline-editable-comment textarea {
    margin-bottom: 17px;
}

div.inline-editable-comment .save-comment {
    float: right;
}

a.github-link {
  float: right;
}

.github-icon {
  background: url(/static/img/github-favicon.png);
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.comment-footer {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.inline-comment.draft .draft {
  display: inline !important;
  background: gray;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

/* file_diff.html */
div#thediff {
}

table.diff tbody {
  font-family: Inconsolata, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

/* This is 80 characters in 12px Courier */
table.diff td {
  width: 570px;
  min-width: 570px;
  max-width: 570px;
}

table.diff .insert {
  background-color: #D6FFD5;
}
table.diff .delete {
  background-color: #FCD4D5;
}
table.diff .replace {
  background-color: #FBE6AF;
}
table.diff .char-replace {
  background-color: #FEDC87;
}
