<!-- TODO: implement this -->

{% macro nav_bar(active_tab) -%}
<ul class="nav nav-tabs">
  <li class="{{ 'active' if active_tab == 'home' else '' }}">
    <a href="/"></a>
  </li>
  <li class="{{ 'active' if active_tab == 'runs' else '' }}">
    <a href="/runs">Runs</a>
  </li>
  <li class="{{ 'active' if active_tab == 'callers' else '' }}">
    <a href="/callers">Callers</a>
  </li>
</ul>
{%- endmacro %}


{% macro user_with_icon(user, size=20) -%}
<span class="user-icon"><img height={{size}} width={{size}} class="avatar" src="{{user.avatar_url}}">&nbsp;<span class="user">{{user.login}}</span></span>
{%- endmacro %}
