{%- from 'macros/macros.html' import nav_bar with context -%}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Better Pull Requests{% endblock %}</title>

  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/jsdifflib/difflib.js"></script>
  <script src="/static/jsdifflib/diffview.js"></script>
  <script src="/static/showdown/showdown.js"></script>
  <script src="/static/showdown/github.js"></script>
  <script src="/static/js/pull_request.js"></script>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  {% block head %}{% endblock %}
</head>

<body>
  {% block body %}{% endblock %}
</body>
</html>
