<div id="editable-comment-template" class="inline-comment inline-editable-comment" style="display:none;"><textarea rows=4></textarea>
<button class="save-comment">Save</button>
<button class="discard-comment">Discard</button></div>

<div id="comment-template" class="inline-comment" style="display:none;">
  <div class="is_draft" style="display:none">(Draft)</div>
  <div class="metadata"><span class="user"></span> added a note on <span class="updated_at"></span></div>
  <a class="github-link" href="">view on github</a>
  <div class="inline-comment-body"></div>
  <a href="#" class="reply">Reply</a>
  <span class="done-ack-links" style="display:none">
    <a href="#" class="done">Done</a>
    <a href="#" class="ack">Acknowledged</a>
  </span>
</div>
