<h2>Commits</h2>
<form action='#'>
{% for commit in commits %}
<input name='sha1' type=radio value={{commit.sha}} {%if commit.sha == sha1%}checked{%endif%}>
<input name='sha2' type=radio value={{commit.sha}} {%if commit.sha == sha2%}checked{%endif%}>
{{commit.author.date}}
<span class='sha'>{{commit.sha|truncate(7, True, end='')}}</span>
{{commit.commit.short_message}}
{{commit.author.login}}
<span sha={{commit.sha}} class="comment-count"></span>
{% if commit.total_comment_count %}(
  {% if commit.comment_count %}
    {{ commit.comment_count }} comments
  {% endif %}
  {% if commit.draft_comment_count %}
    {{ commit.draft_comment_count }} drafts
  {% endif %}
){% endif %}
<br>
{% endfor %}
{% if path %}
<input type=hidden name=path value="{{path}}">
{% endif %}

<p><button id="show-diff">Show Diff</button></p>
</form>

