<!doctype html>
<head>
  <title>File Diff View</title>
  <link rel=stylesheet href="/static/jsdifflib/diffview.css">
  <link rel=stylesheet href="/static/pull_request.css">
</head>
<body>
<h2>Commits</h2>
<form action='#'>
{% for commit in commits %}
<input name='sha1' type=radio value={{commit.sha}} {%if commit.sha == sha1%}checked{%endif%}>
<input name='sha2' type=radio value={{commit.sha}} {%if commit.sha == sha2%}checked{%endif%}>
{{commit.time}}
{{commit.sha}}
{{commit.message}}
{{commit.author}} <span sha={{commit.sha}} class="comment-count"></span>
<br>
{% endfor %}
<input type=hidden name=path value="{{path}}">

<p><input type=submit id="diff" value="Show Diff"></p>
</form>

<h2>{{path}}</h2>
<div id="thediff"></div>

<div id="prev-next">
{% if prev_file %}
<a class="prev" href="{{prev_file.link}}">&larr; {{prev_file.path}}</a>
{% endif %}
&nbsp;
{% if next_file %}
<a class="next" href="{{next_file.link}}">{{next_file.path}} &rarr;</a>
{% endif %}
</div>

<h2>Files Changed</h2>
<div id="files-changed">
{% for differing_file in differing_files %}
{% if differing_file.path == path %}
<div class="diff-link diff-current">
  {{differing_file.path}}
</div>
{% else %}
<div class="diff-link">
  <a href="{{differing_file.link}}">{{differing_file.path}}</a>
</div>
{% endif %}
{% endfor %}
</div>

<script src="/static/jquery-2.1.1.min.js"></script>
<script src="/static/underscore-min.js"></script>
<script src="/static/jsdifflib/difflib.js"></script>
<script src="/static/jsdifflib/diffview.js"></script>
<script src="/static/pull_request.js"></script>

<script type="text/javascript">
var beforeContents = {{before_contents|tojson|safe}};
var afterContents = {{after_contents|tojson|safe}};

function displayDiffs(before_ref, after_ref, baseTxt, afterTxt) {
  var diffDiv = renderDiff(baseTxt, afterTxt);

  $('#thediff').append(diffDiv);

  // Fill in the "(2 comments)" fields.
  // TODO(danvk): do this in the python server.
  var commentsByRef =
      _.groupBy(_.filter(diff_comments, function(comment) { return comment.path == {{path|tojson}} }), function(comment) { return comment.original_commit_id });

  _.forEach(commentsByRef, function(comments, sha) {
      $('.comment-count[sha=' + sha + ']').text('(' + comments.length + ' comments)');
  });

  var comments = _.filter(diff_comments, function(comment) {
      return (comment.original_commit_id == after_ref ||
              comment.original_commit_id == before_ref) &&
          comment.path == {{path|tojson}};
  });

  comments.map(function(comment) {
    var pos =
        parseDiffPosition(comment.diff_hunk, comment.original_position);
    if (comment.original_commit_id == before_ref) {
      pos.onLeft = !pos.onLeft;
    }

    var lineEl = findDomElementForPosition(diffDiv, pos);
    $(lineEl).append(renderComment(comment));
  });
}

var head_repo = {{head_repo|tojson|safe}};
var diff_comments = {{comments.diff_level|tojson|safe}};

$(function() {
  $('#diff').click(function() {
  });

  // Simplify comment view
  $('.comment-body').map(function(_, div) { collapseQuotes(div) });

  displayDiffs({{sha1|tojson|safe}}, {{sha2|tojson|safe}}, beforeContents, afterContents);
});
</script>
</body>
</html>
