<!doctype html>
<head>
  <title>File Diff View</title>
  <link rel=stylesheet href="/static/jsdifflib/diffview.css">
  <link rel=stylesheet href="/static/pull_request.css">
</head>
<body>
<h2><a href="{{pull_request_url}}">{{pull_request.title}}</a></h2>
<p class="description">{{pull_request.body}}</p>

<h2>Commits</h2>
<form action='#'>
{% for commit in commits %}
<input name='sha1' type=radio value={{commit.sha}} {%if commit.sha == sha1%}checked{%endif%}>
<input name='sha2' type=radio value={{commit.sha}} {%if commit.sha == sha2%}checked{%endif%}>
{{commit.author.date}}
{{commit.sha}}
{{commit.message}}
{{commit.author.login}}
<span sha={{commit.sha}} class="comment-count"></span>
<br>
{% endfor %}
<input type=hidden name=path value="{{path}}">

<p><input type=submit id="diff" value="Show Diff"></p>
</form>

<h2>{{path}}</h2>
<div id="thediff"></div>

<div id="prev-next">
{% if prev_file %}
<a class="prev" href="{{prev_file.link}}">&larr; {{prev_file.path}}</a>
{% endif %}
&nbsp;
{% if next_file %}
<a class="next" href="{{next_file.link}}">{{next_file.path}} &rarr;</a>
{% endif %}
</div>

<h2>Files Changed</h2>
<div id="files-changed">
{% for differing_file in differing_files %}
{% if differing_file.path == path %}
<div class="diff-link diff-current">
  {{differing_file.path}}
</div>
{% else %}
<div class="diff-link">
  <a href="{{differing_file.link}}">{{differing_file.path}}</a>
</div>
{% endif %}
{% endfor %}
</div>

<div id="editable-comment-template" class="inline-comment inline-editable-comment" style="display:none;"><textarea rows=4></textarea>
<button class="submit-comment">Submit</button>
<button class="discard-comment">Discard</button></div>

<div id="comment-template" class="inline-comment" style="display:none;">
  <div class="metadata"><span class="user"></span> added a note on <span class="updated_at"></span></div>
  <a class="github-link" href="">view on github</a>
  <div class="inline-comment-body"></div>
</div>

<script src="/static/jquery-2.1.1.min.js"></script>
<script src="/static/underscore-min.js"></script>
<script src="/static/jsdifflib/difflib.js"></script>
<script src="/static/jsdifflib/diffview.js"></script>
<script src="/static/showdown/showdown.js"></script>
<script src="/static/showdown/github.js"></script>
<script src="/static/pull_request.js"></script>

<script type="text/javascript">
var beforeContents = {{before_contents|tojson|safe}};
var afterContents = {{after_contents|tojson|safe}};

var sha1 = {{sha1|tojson|safe}};
var sha2 = {{sha2|tojson|safe}};

function displayDiffs(before_ref, after_ref, baseTxt, afterTxt) {
  var diffDiv = renderDiff(baseTxt, afterTxt);

  $('#thediff').append(diffDiv);

  // Fill in the "(2 comments)" fields.
  // TODO(danvk): do this in the python server.
  var commentsByRef =
      _.groupBy(_.filter(diff_comments, function(comment) { return comment.path == {{path|tojson}} }), function(comment) { return comment.original_commit_id });

  _.forEach(commentsByRef, function(comments, sha) {
      $('.comment-count[sha=' + sha + ']').text('(' + comments.length + ' comments)');
  });

  var comments = _.filter(diff_comments, function(comment) {
      return (comment.original_commit_id == after_ref ||
              comment.original_commit_id == before_ref) &&
          comment.path == {{path|tojson}};
  });

  comments.map(
      function(x) { return attachComment(before_ref, after_ref, diffDiv, x) });
}

function attachComment(before_ref, after_ref, diffDiv, comment) {
  var pos =
      parseDiffPosition(comment.diff_hunk, comment.position_in_diff_hunk);
  if (comment.original_commit_id == before_ref) {
    pos.onLeft = !pos.onLeft;
  }

  var lineEl = findDomElementForPosition(diffDiv, pos);
  $(lineEl).append(renderComment(comment));
}

var head_repo = {{head_repo|tojson|safe}};
var diff_comments = {{comments.diff_level|tojson|safe}};

function createCommentBox(onLeft, lineNumber) {
  var $box = $('#editable-comment-template')
      .clone()
      .removeAttr('id')
      .data({
          'lineNumber': lineNumber,
          'onLeft': onLeft
      }).show();

  var $td = $('td.' + (onLeft ? 'before' : 'after') + '.line-' + lineNumber);
  $td.append($box);
}

$(function() {
  // Simplify comment view
  $('.comment-body').map(function(_, div) { collapseQuotes(div) });

  displayDiffs(sha1, sha2, beforeContents, afterContents);

  $(document).on('keydown', function(e) {
    if (e.ctrlKey || e.altKey || e.metaKey ||
        e.target.tagName.toLowerCase() == 'input' ||
        e.target.tagName.toLowerCase() == 'textarea') {
      return;
    }
    if (e.keyCode == 74 || e.keyCode == 75) {  // j/k
      var klass = (e.keyCode == 74 ? 'next' : 'prev');
      // Any better way to visit links?
      var url = $('a.' + klass).attr('href');
      if (url) {
        window.location = url;
      }
    } else if (e.keyCode == 78) { // n
      // next comment
    } else if (e.keyCode == 80) { // p
      // previous comment
    } else if (e.keyCode == 85) { // u
      window.location = {{pull_request_url|tojson|safe}};
    }
    // console.log(e.keyCode);
  });

  $('.diff td').on('dblclick', function(e) {
      if ($(e.target).closest('.inline-comment').length > 0) return;
      var onLeft = $(e.target).is('.before');
      var lineClasses = this.classList;
      var lineNumber;
      for (var i = 0; i < lineClasses.length; i++) {
        var m = /line-([0-9]+)/.exec(lineClasses[i]);
        if (m) {
          lineNumber = m[1];
          break;
        }
      }
      if (lineNumber === undefined) return;
      createCommentBox(onLeft, lineNumber);
      e.preventDefault();
      return false;
  });

  $(document).on('click', '.submit-comment', function(e) {
      var $comment = $(this).parent('.inline-editable-comment');
      var lineNumber = $comment.data('lineNumber');
      var commitId = $comment.data('onLeft') ? {{sha1|tojson|safe}} : {{sha2|tojson|safe}};
      var body = $comment.find('textarea').val();

      $.ajax({
        dataType: 'json',
        type: 'POST',
        url: '/post_comment',
        data: {
          owner: {{user|tojson|safe}},
          repo: {{repo|tojson|safe}},
          pull_number: {{pull_request.number}},
          path: {{path|tojson|safe}},
          commit_id: commitId,
          line_number: lineNumber,
          body: body
        }
      }).success(function(comment) {
        $comment.remove();
        diff_comments.push(comment);
        attachComment(sha1, sha2, $('#thediff').get(0), comment);
      }).error(function(err) {
        console.error(err);
        alert("Unable to post comment!\n\n" + JSON.stringify(err));
      });
  }).on('click', '.discard-comment', function(e) {
      // TODO(danvk): save draft comment at this location.
      var $comment = $(this).parent('.inline-editable-comment');
      $comment.remove();
  });
});
</script>
</body>
</html>
