{%- extends "base.html" -%}

{% block title %} File Diff View {% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div id="refresh-update-available">There's something new!
  <a href="#" onclick="location.reload();">Reload</a> the page to see it.
</div>

<div class="wrap">

<h2><a href="{{pull_request_url}}">{{pull_request.title}}</a></h2>

<p class="description">{{pull_request.body}}</p>

<h3>Commits</h3>
{% include 'commit_list.html' %}

<h3>Files Changed</h3>
<div id="files-changed">
  {% for f in files %}
    {% if f.path == path %}
    <div class="diff-link diff-current">
      {{f.path}}
    </div>
    {% else %}
    <div class="diff-link">
      <a href="{{f.link}}">{{f.path}}</a>
    </div>
    {% endif %}
  {% endfor %}
</div>

{% if prev_file or next_file %}
<div id="prev-next">
  {% if prev_file %}
    <a class="prev" href="{{prev_file.link}}">&larr; {{prev_file.path}}</a>
  {% endif %}
  &nbsp;
  {% if next_file %}
    <a class="next" href="{{next_file.link}}">{{next_file.path}} &rarr;</a>
  {% endif %}
</div>
{% endif %}

</div>

<hr/>

<h3>{{path}}</h3>
<div id="thediff"></div>

{% include 'comment_templates.html' %}

<script type="text/javascript">
var logged_in_user = {{logged_in_user|tojson}};
var pr_owner = {{pull_request.user.login|tojson}};

var beforeContents = {{before_contents|tojson|safe}};
var afterContents = {{after_contents|tojson|safe}};

var sha1 = {{sha1|tojson|safe}};
var sha2 = {{sha2|tojson|safe}};

var owner = {{owner|tojson}};
var repo = {{repo|tojson}};
var path = {{path|tojson}};
var pr_number = {{pull_request.number|tojson}};
var updated_at = {{pull_request.updated_at|tojson}};

var diff_comments = {{comments.diff_level|tojson|safe}};
var pull_request_url = {{pull_request_url|tojson}};
</script>

<script src="/static/js/file_diff.js"></script>
<script type="text/javascript">

$(function() {
  // Simplify comment view
  $('.comment-body').map(function(_, div) { collapseQuotes(div) });

  displayDiffs(sha1, sha2, beforeContents, afterContents);

  attachHandlers();

  // Format descriptions with markdown.
  $('.description').html(new Showdown.converter().makeHtml({{pull_request.body|tojson|safe}}));

  checkForUpdates(owner, repo, pr_number, updated_at);
});
</script>
{% endblock %}
