<!doctype html>
<head>
  <title>Pull Request View</title>
  <link rel=stylesheet href="/static/jsdifflib/diffview.css">
  <style>
.diff {
  max-width: 1600px;
}
.comment-body {
  white-space: pre;
}
.inline-comment {
  background: lightgray;
  border: 1px solid black;
  padding: 3px;
  margin: 3px -0.3em;
}
  </style>
</head>
<body>
<h2>Commits</h2>
{% for commit in commits %}
<input name='left' type=radio sha={{commit.sha}}>
<input name='right' type=radio sha={{commit.sha}}>
{{commit.time}}
{{commit.sha}}
{{commit.message}}
{{commit.author}} ({{commit.comment_count}} comments)
<br>
{% endfor %}

<p><button id="diff">Show Diff</button></p>

<h2>Files Changed</h2>
<div id="files-changed"></div>

<h2>Discussion</h2>
{% for comment in comments.top_level %}
<p>{{comment.updated_at}} {{ comment.user.login }}:<br>
<div class="comment-body">{{comment.body}}</div></p>
<hr/>
{% endfor %}

<script src="/static/jquery-2.1.1.min.js"></script>
<script src="/static/underscore-min.js"></script>
<script src="/static/jsdifflib/difflib.js"></script>
<script src="/static/jsdifflib/diffview.js"></script>
<script src="/static/pull_request.js"></script>
<script type="text/javascript">

function displayDiffs(before_ref, after_ref, data) {
  $('#files-changed').empty();
  data.files.forEach(function(file) {
      var baseTxt = data.before[file] || '';
      var afterTxt = data.after[file] || '';
      var diffDiv = renderDiff(baseTxt, afterTxt);

      $('#files-changed').append(['<h2>' + file + '</h2>', diffDiv]);

      var comments = _.filter(diff_comments, function(comment) {
          return comment.original_commit_id == after_ref &&
              comment.path == file;
      });

      comments.map(function(comment) {
        var pos =
            parseDiffPosition(comment.diff_hunk, comment.original_position);
        var lineEl = findDomElementForPosition(diffDiv, pos);
        $(lineEl).append(renderComment(comment));
      });
  });
}

var head_repo = {{head_repo|tojson|safe}};
var diff_comments = {{comments.diff_level|tojson|safe}};

$(function() {
  
  $('#diff').click(function() {
    $('#files-changed').html('&hellip;');

    var sha1 = $('input[name="left"]:checked').attr('sha'),
        sha2 = $('input[name="right"]:checked').attr('sha');
        $.getJSON('/diff', { repo: head_repo, sha1: sha1, sha2: sha2 })
        .success(function(data) {
          displayDiffs(sha1, sha2, data);
        })
        .error(function(err) {
          $('#files-changed').text(JSON.stringify(err));
        });
  });

  // Default view
  $('input[name=left]:last').click();
  $('input[name=right]:first').click();
  $('#diff').click();

  // Simplify comment view
  $('.comment-body').map(function(_, div) { collapseQuotes(div) });
});
</script>

</body>
