<!doctype html>
<head>
  <title>Pull Request View</title>
  <link rel=stylesheet href="/static/jsdifflib/diffview.css">
  <link rel=stylesheet href="/static/pull_request.css">
</head>
<body>
<div id="refresh-update-available">There's something new! <a href="#" onclick="location.reload();">Reload</a> the page to see it.</div>
<h2>{{pull_request.title}}</h2>
<p class="description">{{pull_request.body}}</p>

{% include 'commit_list.html' %}

<h2>Files Changed</h2>
<div id="files-changed"></div>
<div id="changed-file-template" class="changed-file" style="display:none">
  <a href=""></a>
  <span class="comments" style="display:none">(
    <span class="submitted-comments"></span>
    <span class="draft-comments"></span>
  )</span>
</div>

<h2>Discussion</h2>
<div class="comments-list" id="top-level-comments"></div>

<h2>Draft Comments</h2>
<div class="comments-list" id="draft-comments"></div>

<form action="/publish_draft_comments" method="POST">
  <textarea rows=4 name="top_level_comment"></textarea>
  <input type=hidden name=owner value="{{user}}">
  <input type=hidden name=repo value="{{repo}}">
  <input type=hidden name=pull_number value="{{pull_request.number}}">
  <input type="submit" value="Publish Comments">
</form>

{% include 'comment_templates.html' %}

<script src="/static/jquery-2.1.1.min.js"></script>
<script src="/static/underscore-min.js"></script>
<script src="/static/jsdifflib/difflib.js"></script>
<script src="/static/jsdifflib/diffview.js"></script>
<script src="/static/showdown/showdown.js"></script>
<script src="/static/showdown/github.js"></script>
<script src="/static/pull_request.js"></script>

<script type="text/javascript">
var user = {{user|tojson}};
var repo = {{repo|tojson}};
var pr_number = {{pull_request.number|tojson}};
var updated_at = {{pull_request.updated_at|tojson}};
var comments = {{comments|tojson|safe}};

function countComments(file, after_ref) {
  var counts = {
    submitted: 0,
    drafts: 0
  };
  comments.diff_level.forEach(function(comment) {
    if (comment.original_commit_id == after_ref && (!file || comment.path == file)) {
      counts[comment.is_draft ? 'drafts' : 'submitted'] += 1;
    }
  });
  counts.total = counts.submitted + counts.drafts;
  return counts;
}

// TODO(danvk): do this for file_diff.html, too.
// TODO(danvk): do this server-side in Jinja, not in JavaScript
function displayDiffs(before_ref, after_ref, data) {
  $('#files-changed').empty();
  var diffUrlBase = '/pull/' + user + '/' + repo + '/' + pr_number + '/diff';
  data.files.forEach(function(file) {
    var diffUrl = diffUrlBase +
        '?path=' + escape(file) +
        '&sha1=' + escape(before_ref) +
        '&sha2=' + escape(after_ref);
    var $fileDiv = $('#changed-file-template').clone().removeAttr('id').show();
    $fileDiv.find('a').attr('href', diffUrl).text(file);
    var comments = countComments(file, after_ref);
    if (comments.total) {
      $fileDiv.find('.comments').show();
    }
    if (comments.submitted) {
      $fileDiv.find('.submitted-comments').text(comments.submitted + ' comments');
    }
    if (comments.drafts) {
      $fileDiv.find('.draft-comments').text(comments.drafts + ' drafts');
    }

    $('#files-changed').append($fileDiv);
  });
}

$(function() {
  $('#show-diff').click(function(e) {
    $('#files-changed').html('&hellip;');

    var sha1 = $('input[name="sha1"]:checked').val(),
        sha2 = $('input[name="sha2"]:checked').val();
    $.getJSON('/diff', { user: user, repo: repo, sha1: sha1, sha2: sha2 })
    .success(function(data) {
      displayDiffs(sha1, sha2, data);
    })
    .error(function(err) {
      $('#files-changed').text(JSON.stringify(err));
    });
    e.preventDefault();
  });

  // Default view
  $('input[name=sha1]:last').click();
  $('input[name=sha2]:first').click();
  $('#show-diff').click();

  // Top-level comments
  comments.top_level.forEach(function(comment) {
    $('#top-level-comments').append(renderComment(comment));
  });

  // Draft comments
  comments['diff_level'].forEach(function(comment) {
    if (!comment.is_draft) return;
    var pos = parseDiffPosition(comment.diff_hunk, comment.position_in_diff_hunk);
    $('#draft-comments').append(
      $('<div>').text(comment.path + ":" + pos.lineNumber + " " + comment.diff_line),
      renderComment(comment));
  });

  // Simplify comment view
  $('.comment-body').map(function(_, div) { collapseQuotes(div) });

  // Format descriptions with markdown.
  $('.description').html(new Showdown.converter().makeHtml({{pull_request.body|tojson|safe}}));

  checkForUpdates(user, repo, pr_number, updated_at);
});
</script>

</body>
