{%- extends "base.html" -%}

{% block title %} Subscriptions {% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class=flash-message>{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="wrap">

  <h2>Subscribed Repositories</h2>
<ul class="followed-repos">
{% for repo in subscriptions %}
<li owner="{{repo.owner.login}}" repo="{{repo.name}}"><a href="/{{repo.full_name}}/pulls">{{repo.full_name}}</a>
<span class='repo-data'>(<span class='pr-count'>? open pull requests</span>, {{repo.open_issues_count}} issue{% if repo.open_issues_count > 1%}s{% endif %})</span>
<a href="{{ repo.html_url }}" alt="View on github.com"><span class="github-icon github-icon-16"></span></a>
</li>
{% endfor %}
</ul>

<h2>Your Pull Requests</h2>
<div id="own-pull-requests">
</div>

<div id=pr-template class='pull-request' style='display:none'>
  <span class='repo-name'></span>
  <a href="" class='main-link'></a>
  <a href="" alt="View on github.com"><span class="github-icon github-icon-16"></span></a>
</div>

</div>

<script src="/static/js/subscriptions.js"></script>
<script type="text/javascript">

addPullRequestCounts($('.followed-repos').get(0), $('#own-pull-requests').get(0));

</script>

{% endblock %}
